/*
// 888     888                               
// 888     888                               
// 888     888                               
// Y88b   d88P   8888b.   888d888  .d8888b   
//  Y88b d88P       "88b  888P"    88K       
//   Y88o88P    .d888888  888      "Y8888b.  
//    Y888P     888  888  888           X88  
//     Y8P      "Y888888  888       88888P'  
*/
:root {
    --bg-color: #ffffff;
    --higlight-color: #01b0d3;
    --neutral-color: #242332;

    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --font-bold: 500;

    --z-base: 1;
    --z-on-top: calc(var(--z-base) + 1);

    --success-color: #acf3a0;
    --error-color: #f2bbb8;
}

/*  .d8888b.                                                    888  
// d88P  Y88b                                                   888  
// 888    888                                                   888  
// 888          .d88b.   88888b.    .d88b.   888d888   8888b.   888  
// 888  88888  d8P  Y8b  888 "88b  d8P  Y8b  888P"        "88b  888  
// 888    888  88888888  888  888  88888888  888      .d888888  888  
// Y88b  d88P  Y8b.      888  888  Y8b.      888      888  888  888  
//  "Y8888P88   "Y8888   888  888   "Y8888   888      "Y888888  888  
*/
/******* Change Box Model ***************/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("/images/site/checkerboard.jpg");
    font-family: var(--font-family);
}

#wrapper {
    background: var(--bg-color);
    padding: 1rem;
}

.debug {
    border: 1px solid red;
}

ul.error {
    background-color: var(--error-color);
    padding: 1rem;
}

ul.notice {
    background-color: var(--success-color);
    padding: 1rem;
}

ul.error,
ul.notice {
    list-style-position: inside;
}

/* 888    888                           888                     
// 888    888                           888                     
// 888    888                           888                     
// 8888888888   .d88b.    8888b.    .d88888   .d88b.   888d888  
// 888    888  d8P  Y8b      "88b  d88" 888  d8P  Y8b  888P"    
// 888    888  88888888  .d888888  888  888  88888888  888      
// 888    888  Y8b.      888  888  Y88b 888  Y8b.      888      
// 888    888   "Y8888   "Y888888   "Y88888   "Y8888   888      
*/
#top-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

#top-header .siteName a,
#top-header #tools a {
    color: var(--neutral-color);
    text-decoration: none;
}

#top-header .siteName {
    font-size: 3rem;
}

#top-header #tools {
    font-size: 1.5rem;
}

/* 888b    888                      
// 8888b   888                      
// 88888b  888                      
// 888Y88b 888   8888b.   888  888  
// 888 Y88b888      "88b  888  888  
// 888  Y88888  .d888888  Y88  88P  
// 888   Y8888  888  888   Y8bd8P   
// 888    Y888  "Y888888    Y88P    
*/
nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    background-color: var(--neutral-color);
}

nav a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

/* 888    888                                     
// 888    888                                     
// 888    888                                     
// 8888888888   .d88b.   88888b.d88b.    .d88b.   
// 888    888  d88""88b  888 "888 "88b  d8P  Y8b  
// 888    888  888  888  888  888  888  88888888  
// 888    888  Y88..88P  888  888  888  Y8b.      
// 888    888   "Y88P"   888  888  888   "Y8888   
*/
/* ------------------------------- Home Hero ------------------------------- */
.home-hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.home-hero h1 {
    grid-column: 1/4;
}

.home-hero .vehicle-info {
    z-index: var(--z-on-top);

    padding: 1rem;

    grid-column: 1/3;
    grid-row: 2/3;

    background-color: rgba(255, 255, 255, 0.7);
    color: var(--higlight-color);

    font-weight: 600;
}

.home-hero .vehicle-info * {
    margin: 0;
}

.home-hero .vehicle-info :not(:first-child) {
    font-size: 1.3rem;
}

.home-hero .vehicle-info a {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem;

    background-color: var(--higlight-color);
    color: var(--neutral-color);

    text-decoration: none;
}

.home-hero .vehicle-img {
    margin-left: auto;
    margin-right: auto;

    grid-column: 1/4;
    grid-row: 2/3;
}

.home-hero .vehicle-img img {
    max-width: 100%;
}

/* ------------------------------- Home Upgrades and Reviews ------------------------------- */

.home-content {
    display: flex;
    flex-direction: column-reverse;

    margin-top: 2rem;

    gap: 1rem;
}

.vehicle-upgrades,
.vehicle-reviews {
    flex-grow: 1;
}

.vehicle-upgrades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 0.5rem;
}

.vehicle-upgrades h2 {
    grid-column: 1/3;
}

.vehicle-upgrades > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vehicle-upgrades div:has(> img) {
    height: 100%;
    padding: 0.5rem;
    text-align: center;

    background-color: var(--higlight-color);
    border: 1px solid var(--neutral-color);
}

.vehicle-upgrades > div a {
    text-align: center;
}

.vehicle-reviews ul {
    font-size: 1.2em;
}

.vehicle-reviews ul li:not(:last-child) {
    margin-bottom: 0.5rem;
}

/*  .d8888b.             888                                                      
// d88P  Y88b            888                                                      
// 888    888            888                                                      
// 888          8888b.   888888   .d88b.    .d88b.    .d88b.   888d888  888  888  
// 888             "88b  888     d8P  Y8b  d88P"88b  d88""88b  888P"    888  888  
// 888    888  .d888888  888     88888888  888  888  888  888  888      888  888  
// Y88b  d88P  888  888  Y88b.   Y8b.      Y88b 888  Y88..88P  888      Y88b 888  
//  "Y8888P"   "Y888888   "Y888   "Y8888    "Y88888   "Y88P"   888       "Y88888  
//                                              888                          888  
//                                         Y8b d88P                     Y8b d88P  
//                                          "Y88P"                       "Y88P"
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/

#inv-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

#inv-display article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: 1px solid var(--neutral-color);
    border-radius: 10px;
    overflow: hidden;
}

#inv-display > a,
#inv-display > a > article {
    height: 100%;
}

#inv-display > a {
    text-decoration: none;
    color: unset;
}

#inv-display article hr {
    border: 2px solid var(--neutral-color);
    width: 100%;
    margin: 0;
}

#inv-display article img {
    display: block;
    width: 100%;
    height: auto;
}

#inv-display article div {
    text-align: center;
    padding: 1rem;
}

#inv-display article div h2 {
    margin-top: 0;
}

#inv-display article div span {
    font-size: 1.2em;
}

/* 8888888888                                       
// 888                                              
// 888                                              
// 8888888     888d888  888d888   .d88b.   888d888  
// 888         888P"    888P"    d88""88b  888P"    
// 888         888      888      888  888  888      
// 888         888      888      Y88..88P  888      
// 8888888888  888      888       "Y88P"   888      
//
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/
.error-page-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    font-size: 1.3rem;
}

.error-page-container > div {
    flex-grow: 1;
}

#error-page-img {
    display: block;
    max-width: 400px;
    width: 100%;
}

/* 8888888b.             888               d8b  888            
// 888  "Y88b            888               Y8P  888            
// 888    888            888                    888            
// 888    888   .d88b.   888888   8888b.   888  888  .d8888b   
// 888    888  d8P  Y8b  888         "88b  888  888  88K       
// 888    888  88888888  888     .d888888  888  888  "Y8888b.  
// 888  .d88P  Y8b.      Y88b.   888  888  888  888       X88  
// 8888888P"    "Y8888    "Y888  "Y888888  888  888   88888P'  
//                                                             
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/

.vehicle-details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vehicle-img img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.vehicle-img,
.vehicle-details {
    flex-grow: 1;
    flex-basis: 0;
}

.vehicle-details div {
    font-size: 1.2rem;
}

.vehicle-details p {
    margin: 0;
    padding: 0.7rem;
}

.vehicle-details p:nth-child(1) {
    font-size: 1.2em;
}

.vehicle-details p:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.comments-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 100ch;
}

.comment {
    background-color: #f5e6d3;
    padding: 1rem;
}

.comment > div {
    display: flex;
    flex-direction: row;
}

.comment > div div:first-child {
    flex-grow: 1;
}

.comment .comment-author {
    margin: 0;
}

.comment .comment-text {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

section.add-comment-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: min(300px, 100%);
}

section.add-comment-form label {
    display: flex;
    flex-direction: column;
    max-width: min(300px, 100%);
}

section.add-comment-form textarea {
    margin-top: 0.5rem;
    font-family: var(--font-family);
    padding: 0.5rem 0.6rem;
}

/* 888                           d8b            
// 888                           Y8P            
// 888                                          
// 888        .d88b.    .d88b.   888  88888b.   
// 888       d88""88b  d88P"88b  888  888 "88b  
// 888       888  888  888  888  888  888  888  
// 888       Y88..88P  Y88b 888  888  888  888  
// 88888888   "Y88P"    "Y88888  888  888  888  
//                          888                 
//                     Y8b d88P                 
//                      "Y88P"
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/
.login-form {
    max-width: min(300px, 100%);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    background-color: var(--neutral-color);
    color: white;
}

.login-form h1 {
    margin-top: 0;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form form input {
    margin-top: 0.5rem;
}

.login-form form input,
.login-form form button[type="submit"] {
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
}

.login-form a {
    color: white;
}

.login-form form label {
    font-size: 1.3rem;
}

.login-form form label,
.login-form form input,
.login-form form button[type="submit"] {
    display: block;
    width: 100%;
}

.login-form p {
    margin-bottom: 0;
}

.login-form ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.3rem;
}

/* 8888888b.                       d8b            888                        888     d8b                      
// 888   Y88b                      Y8P            888                        888     Y8P                      
// 888    888                                     888                        888                              
// 888   d88P   .d88b.    .d88b.   888  .d8888b   888888  888d888   8888b.   888888  888   .d88b.   88888b.   
// 8888888P"   d8P  Y8b  d88P"88b  888  88K       888     888P"        "88b  888     888  d88""88b  888 "88b  
// 888 T88b    88888888  888  888  888  "Y8888b.  888     888      .d888888  888     888  888  888  888  888  
// 888  T88b   Y8b.      Y88b 888  888       X88  Y88b.   888      888  888  Y88b.   888  Y88..88P  888  888  
// 888   T88b   "Y8888    "Y88888  888   88888P'   "Y888  888      "Y888888   "Y888  888   "Y88P"   888  888  
//                            888                                                                             
//                       Y8b d88P                                                                             
//                        "Y88P"
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/
.registration-form {
    max-width: min(300px, 100%);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    background-color: var(--neutral-color);
    color: white;
}

.registration-form h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.registration-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.registration-form form input {
    margin-top: 0.5rem;
}

.registration-form form input,
.registration-form form button[type="submit"] {
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
}

.registration-form a {
    color: white;
}

.registration-form form label {
    font-size: 1.3rem;
}

.registration-form form label,
.registration-form form input,
.registration-form form button[type="submit"] {
    display: block;
    width: 100%;
}

.registration-form > p:first-of-type {
    margin-top: 0.5rem;
    margin-bottom: revert;
}

.registration-form p {
    margin-bottom: 0;
}

.registration-form ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.3rem;
}

textarea:required:invalid,
textarea:focus:invalid,
select:required:invalid,
select:focus:invalid,
input:required:invalid,
input:focus:invalid {
    background-color: var(--error-color);
}

textarea:required:valid,
select:required:valid,
input:required:valid {
    background-color: var(--success-color);
}

/* 888b    888                                 .d8888b.   888                                
// 8888b   888                                d88P  Y88b  888                                
// 88888b  888                                888    888  888                                
// 888Y88b 888   .d88b.   888  888  888       888         888   8888b.   .d8888b   .d8888b   
// 888 Y88b888  d8P  Y8b  888  888  888       888         888      "88b  88K       88K       
// 888  Y88888  88888888  888  888  888       888    888  888  .d888888  "Y8888b.  "Y8888b.  
// 888   Y8888  Y8b.      Y88b 888 d88P       Y88b  d88P  888  888  888       X88       X88  
// 888    Y888   "Y8888    "Y8888888P"         "Y8888P"   888  "Y888888   88888P'   88888P'  
//
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/
.new-classification-form,
.new-vehicle-form {
    max-width: min(300px, 100%);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    background-color: var(--neutral-color);
    color: white;
}

.new-classification-form h1,
.new-vehicle-form h1 {
    margin-top: 0;
}

.new-classification-form form,
.new-vehicle-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.new-classification-form form input,
.new-vehicle-form form textarea,
.new-vehicle-form form select,
.new-vehicle-form form input {
    margin-top: 0.5rem;
}

.new-classification-form form input,
.new-classification-form form button[type="submit"],
.new-vehicle-form form input,
.new-vehicle-form form textarea,
.new-vehicle-form form select,
.new-vehicle-form form button[type="submit"] {
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
}

.new-classification-form a,
.new-vehicle-form a {
    color: white;
}

.new-classification-form form label,
.new-vehicle-form form label {
    font-size: 1.3rem;
}

.new-classification-form form label,
.new-classification-form form input,
.new-classification-form form button[type="submit"],
.new-vehicle-form form label,
.new-vehicle-form form input,
.new-vehicle-form form textarea,
.new-vehicle-form form select,
.new-vehicle-form form button[type="submit"] {
    display: block;
    width: 100%;
}

.new-classification-form p,
.new-vehicle-form p {
    margin-bottom: 0;
}

.new-classification-form ul,
.new-vehicle-form ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.3rem;
}

/* New vehicle special styles */
.new-vehicle-form form textarea,
.new-vehicle-form form select {
    font-family: var(--font-family);
}

/* 8888888                           888b     d888                                     888     
//   888                             8888b   d8888                                     888     
//   888                             88888b.d88888                                     888     
//   888    88888b.   888  888       888Y88888P888  88888b.    .d88b.   88888b.d88b.   888888  
//   888    888 "88b  888  888       888 Y888P 888  888 "88b  d88P"88b  888 "888 "88b  888     
//   888    888  888  Y88  88P       888  Y8P  888  888  888  888  888  888  888  888  888     
//   888    888  888   Y8bd8P        888   "   888  888  888  Y88b 888  888  888  888  Y88b.   
// 8888888  888  888    Y88P         888       888  888  888   "Y88888  888  888  888   "Y888  
//                                                                 888                         
//                                                            Y8b d88P                         
//                                                             "Y88P"
*/
table#inventoryDisplay {
    border-collapse: collapse;
    margin-top: 1rem;
}

table#inventoryDisplay thead tr {
    background-color: var(--success-color);
}

table#inventoryDisplay tbody tr:nth-child(even) {
    background-color: #d6d6d6;
}

table#inventoryDisplay tr td {
    padding: 5px;
    border-top: 1px solid var(--neutral-color);
}

table#inventoryDisplay tr:last-child td {
    border-bottom: 1px solid var(--neutral-color);
}

table#inventoryDisplay td {
    border-left: 1px solid var(--neutral-color);
}

table#inventoryDisplay td:last-child {
    border-right: 1px solid var(--neutral-color);
}

/*        d8888                                                    888     
//       d88888                                                    888     
//      d88P888                                                    888     
//     d88P 888   .d8888b   .d8888b   .d88b.   888  888  88888b.   888888  
//    d88P  888  d88P"     d88P"     d88""88b  888  888  888 "88b  888     
//   d88P   888  888       888       888  888  888  888  888  888  888     
//  d8888888888  Y88b.     Y88b.     Y88..88P  Y88b 888  888  888  Y88b.   
// d88P     888   "Y8888P   "Y8888P   "Y88P"    "Y88888  888  888   "Y888  
//
// 8888888b.                                           
// 888   Y88b                                          
// 888    888                                          
// 888   d88P   8888b.    .d88b.    .d88b.   .d8888b   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  88K       
// 888         .d888888  888  888  88888888  "Y8888b.  
// 888         888  888  Y88b 888  Y8b.           X88  
// 888         "Y888888   "Y88888   "Y8888    88888P'  
//                            888                      
//                       Y8b d88P                      
//                        "Y88P"
*/
/* Main account page */
.account-page h2,
.account-page h3 {
    margin-bottom: 0.2em;
}

.account-page p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

/* Account update page */
.account-update-information-form {
    max-width: min(300px, 100%);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    background-color: var(--neutral-color);
    color: white;
}

.account-update-information-form h2 {
    margin-top: 0;
}

.account-update-information-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-update-information-form form input {
    margin-top: 0.5rem;
}

.account-update-information-form form input,
.account-update-information-form form button[type="submit"] {
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
}

.account-update-information-form a {
    color: white;
}

.account-update-information-form form label {
    font-size: 1.3rem;
}

.account-update-information-form form label,
.account-update-information-form form input,
.account-update-information-form form button[type="submit"] {
    display: block;
    width: 100%;
}

.account-update-information-form p {
    margin-bottom: 0;
}

.account-update-information-form ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.3rem;
}

/* 8888888888                      888                        
// 888                             888                        
// 888                             888                        
// 8888888      .d88b.    .d88b.   888888   .d88b.   888d888  
// 888         d88""88b  d88""88b  888     d8P  Y8b  888P"    
// 888         888  888  888  888  888     88888888  888      
// 888         Y88..88P  Y88..88P  Y88b.   Y8b.      888      
// 888          "Y88P"    "Y88P"    "Y888   "Y8888   888      
*/
footer {
    padding-top: 1rem;
}
