/*
// 888     888                               
// 888     888                               
// 888     888                               
// Y88b   d88P   8888b.   888d888  .d8888b   
//  Y88b d88P       "88b  888P"    88K       
//   Y88o88P    .d888888  888      "Y8888b.  
//    Y888P     888  888  888           X88  
//     Y8P      "Y888888  888       88888P'  
*/
:root {
    --bg-color: #ffffff;
    --higlight-color: #01b0d3;
    --neutral-color: #242332;

    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --font-bold: 500;

    --z-base: 1;
    --z-on-top: calc(var(--z-base) + 1);
}

/*  .d8888b.                                                    888  
// d88P  Y88b                                                   888  
// 888    888                                                   888  
// 888          .d88b.   88888b.    .d88b.   888d888   8888b.   888  
// 888  88888  d8P  Y8b  888 "88b  d8P  Y8b  888P"        "88b  888  
// 888    888  88888888  888  888  88888888  888      .d888888  888  
// Y88b  d88P  Y8b.      888  888  Y8b.      888      888  888  888  
//  "Y8888P88   "Y8888   888  888   "Y8888   888      "Y888888  888  
*/
/******* Change Box Model ***************/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("/images/site/checkerboard.jpg");
    font-family: var(--font-family);
}

#wrapper {
    background: var(--bg-color);
    padding: 1rem;
}

.debug {
    border: 1px solid red;
}

/* 888    888                           888                     
// 888    888                           888                     
// 888    888                           888                     
// 8888888888   .d88b.    8888b.    .d88888   .d88b.   888d888  
// 888    888  d8P  Y8b      "88b  d88" 888  d8P  Y8b  888P"    
// 888    888  88888888  .d888888  888  888  88888888  888      
// 888    888  Y8b.      888  888  Y88b 888  Y8b.      888      
// 888    888   "Y8888   "Y888888   "Y88888   "Y8888   888      
*/
#top-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

#top-header .siteName a,
#top-header #tools a {
    color: var(--neutral-color);
    text-decoration: none;
}

#top-header .siteName {
    font-size: 3rem;
}

#top-header #tools {
    font-size: 1.5rem;
}

/* 888b    888                      
// 8888b   888                      
// 88888b  888                      
// 888Y88b 888   8888b.   888  888  
// 888 Y88b888      "88b  888  888  
// 888  Y88888  .d888888  Y88  88P  
// 888   Y8888  888  888   Y8bd8P   
// 888    Y888  "Y888888    Y88P    
*/
nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    background-color: var(--neutral-color);
}

nav a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

/* 888    888                                     
// 888    888                                     
// 888    888                                     
// 8888888888   .d88b.   88888b.d88b.    .d88b.   
// 888    888  d88""88b  888 "888 "88b  d8P  Y8b  
// 888    888  888  888  888  888  888  88888888  
// 888    888  Y88..88P  888  888  888  Y8b.      
// 888    888   "Y88P"   888  888  888   "Y8888   
*/
/* ------------------------------- Home Hero ------------------------------- */
.home-hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.home-hero h1 {
    grid-column: 1/4;
}

.home-hero .vehicle-info {
    z-index: var(--z-on-top);

    padding: 1rem;

    grid-column: 1/3;
    grid-row: 2/3;

    background-color: rgba(255, 255, 255, 0.7);
    color: var(--higlight-color);

    font-weight: 600;
}

.home-hero .vehicle-info * {
    margin: 0;
}

.home-hero .vehicle-info :not(:first-child) {
    font-size: 1.3rem;
}

.home-hero .vehicle-info a {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem;

    background-color: var(--higlight-color);
    color: var(--neutral-color);

    text-decoration: none;
}

.home-hero .vehicle-img {
    margin-left: auto;
    margin-right: auto;

    grid-column: 1/4;
    grid-row: 2/3;
}

.home-hero .vehicle-img img {
    max-width: 100%;
}

/* ------------------------------- Home Upgrades and Reviews ------------------------------- */

.home-content {
    display: flex;
    flex-direction: column-reverse;

    margin-top: 2rem;

    gap: 1rem;
}

.vehicle-upgrades,
.vehicle-reviews {
    flex-grow: 1;
}

.vehicle-upgrades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 0.5rem;
}

.vehicle-upgrades h2 {
    grid-column: 1/3;
}

.vehicle-upgrades > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vehicle-upgrades div:has(> img) {
    height: 100%;
    padding: 0.5rem;
    text-align: center;

    background-color: var(--higlight-color);
    border: 1px solid var(--neutral-color);
}

.vehicle-upgrades > div a {
    text-align: center;
}

.vehicle-reviews ul {
    font-size: 1.2em;
}

.vehicle-reviews ul li:not(:last-child) {
    margin-bottom: 0.5rem;
}

/*  .d8888b.             888                                                      
// d88P  Y88b            888                                                      
// 888    888            888                                                      
// 888          8888b.   888888   .d88b.    .d88b.    .d88b.   888d888  888  888  
// 888             "88b  888     d8P  Y8b  d88P"88b  d88""88b  888P"    888  888  
// 888    888  .d888888  888     88888888  888  888  888  888  888      888  888  
// Y88b  d88P  888  888  Y88b.   Y8b.      Y88b 888  Y88..88P  888      Y88b 888  
//  "Y8888P"   "Y888888   "Y888   "Y8888    "Y88888   "Y88P"   888       "Y88888  
//                                              888                          888  
//                                         Y8b d88P                     Y8b d88P  
//                                          "Y88P"                       "Y88P"
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/

#inv-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

#inv-display article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: 1px solid var(--neutral-color);
    border-radius: 10px;
    overflow: hidden;
}

#inv-display > a,
#inv-display > a > article {
    height: 100%;
}

#inv-display > a {
    text-decoration: none;
    color: unset;
}

#inv-display article hr {
    border: 2px solid var(--neutral-color);
    width: 100%;
    margin: 0;
}

#inv-display article img {
    display: block;
    width: 100%;
    height: auto;
}

#inv-display article div {
    text-align: center;
    padding: 1rem;
}

#inv-display article div h2 {
    margin-top: 0;
}

#inv-display article div span {
    font-size: 1.2em;
}

/* 8888888888                                       
// 888                                              
// 888                                              
// 8888888     888d888  888d888   .d88b.   888d888  
// 888         888P"    888P"    d88""88b  888P"    
// 888         888      888      888  888  888      
// 888         888      888      Y88..88P  888      
// 8888888888  888      888       "Y88P"   888      
//
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/
.error-page-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    font-size: 1.3rem;
}

.error-page-container > div {
    flex-grow: 1;
}

#error-page-img {
    display: block;
    max-width: 400px;
    width: 100%;
}

/* 8888888b.             888               d8b  888            
// 888  "Y88b            888               Y8P  888            
// 888    888            888                    888            
// 888    888   .d88b.   888888   8888b.   888  888  .d8888b   
// 888    888  d8P  Y8b  888         "88b  888  888  88K       
// 888    888  88888888  888     .d888888  888  888  "Y8888b.  
// 888  .d88P  Y8b.      Y88b.   888  888  888  888       X88  
// 8888888P"    "Y8888    "Y888  "Y888888  888  888   88888P'  
//                                                             
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/

.vehicle-details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vehicle-img img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.vehicle-img,
.vehicle-details {
    flex-grow: 1;
    flex-basis: 0;
}

.vehicle-details div {
    font-size: 1.2rem;
}

.vehicle-details p {
    margin: 0;
    padding: 0.7rem;
}

.vehicle-details p:nth-child(1) {
    font-size: 1.2em;
}

.vehicle-details p:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* 888                           d8b            
// 888                           Y8P            
// 888                                          
// 888        .d88b.    .d88b.   888  88888b.   
// 888       d88""88b  d88P"88b  888  888 "88b  
// 888       888  888  888  888  888  888  888  
// 888       Y88..88P  Y88b 888  888  888  888  
// 88888888   "Y88P"    "Y88888  888  888  888  
//                          888                 
//                     Y8b d88P                 
//                      "Y88P"
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/
.login-form {
    max-width: min(300px, 100%);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    background-color: var(--neutral-color);
    color: white;
}

.login-form h1 {
    margin-top: 0;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form form input {
    margin-top: 0.5rem;
}

.login-form form input,
.login-form form button[type="submit"] {
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
}

.login-form a {
    color: white;
}

.login-form form label {
    font-size: 1.3rem;
}

.login-form form label,
.login-form form input,
.login-form form button[type="submit"] {
    display: block;
    width: 100%;
}

/* 8888888b.                       d8b            888                        888     d8b                      
// 888   Y88b                      Y8P            888                        888     Y8P                      
// 888    888                                     888                        888                              
// 888   d88P   .d88b.    .d88b.   888  .d8888b   888888  888d888   8888b.   888888  888   .d88b.   88888b.   
// 8888888P"   d8P  Y8b  d88P"88b  888  88K       888     888P"        "88b  888     888  d88""88b  888 "88b  
// 888 T88b    88888888  888  888  888  "Y8888b.  888     888      .d888888  888     888  888  888  888  888  
// 888  T88b   Y8b.      Y88b 888  888       X88  Y88b.   888      888  888  Y88b.   888  Y88..88P  888  888  
// 888   T88b   "Y8888    "Y88888  888   88888P'   "Y888  888      "Y888888   "Y888  888   "Y88P"   888  888  
//                            888                                                                             
//                       Y8b d88P                                                                             
//                        "Y88P"
// 8888888b.                                 
// 888   Y88b                                
// 888    888                                
// 888   d88P   8888b.    .d88b.    .d88b.   
// 8888888P"       "88b  d88P"88b  d8P  Y8b  
// 888         .d888888  888  888  88888888  
// 888         888  888  Y88b 888  Y8b.      
// 888         "Y888888   "Y88888   "Y8888   
//                            888            
//                       Y8b d88P            
//                        "Y88P"
*/
.registration-form {
    max-width: min(300px, 100%);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    background-color: var(--neutral-color);
    color: white;
}

.registration-form h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.registration-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.registration-form form input {
    margin-top: 0.5rem;
}

.registration-form form input,
.registration-form form button[type="submit"] {
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
}

.registration-form a {
    color: white;
}

.registration-form form label {
    font-size: 1.3rem;
}

.registration-form form label,
.registration-form form input,
.registration-form form button[type="submit"] {
    display: block;
    width: 100%;
}

.registration-form > p:first-of-type {
    margin-top: 0.5rem;
    margin-bottom: revert;
}

.registration-form p {
    margin-bottom: 0;
}

.registration-form ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.3rem;
}

/* 8888888888                      888                        
// 888                             888                        
// 888                             888                        
// 8888888      .d88b.    .d88b.   888888   .d88b.   888d888  
// 888         d88""88b  d88""88b  888     d8P  Y8b  888P"    
// 888         888  888  888  888  888     88888888  888      
// 888         Y88..88P  Y88..88P  Y88b.   Y8b.      888      
// 888          "Y88P"    "Y88P"    "Y888   "Y8888   888      
*/
footer {
    padding-top: 1rem;
}
